/* media query */
@media screen and (max-width: 768px) {
    /* For mobile phones: */

body {
display: flex;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.name {
    display: block;
    width: 100%;
    text-align: center;
}

.navigasi menu {
    width: 100%;
    margin: 0;
}

.navigasi menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
}

.navigasi menu ul li {
    display: inline-block;
    float: none;
}

.wadah-navigasi {
    display: flex;
    width: 100%;
    margin: auto;
}

section {
    display: block;
}

section img {
    display: block;
}

.header img {
    width: 100%;
}

.headings {
    font-size: 1.7rem;
}

/* About */
#pic img {
    width: 300px;
    height: 175px;
}

}
/* akhir media query */